body{
  background-color: #55AA55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Actor", sans-serif;
}
header{
  text-align: center;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: bold;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B4E0B4;
  width: 70%;
}
#board{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 75%;
  margin-bottom: 5%;
}

.row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cell, .clicked, .won{
  background-color: rgba(255,255,255,1);
  margin: 1.5%;
  width: 8vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picked{
  font-size: 72px;
  font-family: sans-serif;
  background-color: transparent;
  pointer-events: none;
}

.won{
  background-color: yellow;
}

.name{
  background-color: transparent;
  height: 9vw;
  text-align: center;
}
#namePlate{
}
